.container {
	--color-current: var(--primary-color);
	--color-current-rgb: var(--primary-color-rgb);
	background: var(--color-current);
	display: grid;
	grid-template-columns: 1fr 2fr;

	width: 100dvw;
	height: 100dvh;

	margin: auto;
	transition: grid-template-columns 0.4s ease-in;
}

.container.isSub {
	--color-current: var(--secondary-color);
	--color-current-rgb: var(--secondary-color-rgb);
}

.container main {
	height: 100%;
	min-height: 0;
	min-width: 0;
	position: relative;
}

::view-transition-old(root) {
  animation: fade-out .4s ease-in 1 forwards;
  height: 100%;
}

::view-transition-new(root) {
  animation: fade-in .4s ease-in 1 forwards;
  height: 100%;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@media (orientation: portrait) {
	.container {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 2fr;
	}
}

/* MEDIUM, PORTRAIT */
@media (orientation: portrait) and (max-height: 640px) {
	.container {
		grid-template-rows: 2fr 5fr;
	}
}

/* SMALL, PORTRAIT */
@media (orientation: portrait) and (max-height: 360px) {
	.container {
		grid-template-rows: 1fr 5fr;
	}
}

/* SMALL, LANDSCAPE */
@media (orientation: landscape) and (max-width: 360px) {
	.container {
		grid-template-columns: 2fr 5fr;
	}
}