.container {
	--color-current: var(--color-primary);
	--color-current-rgb: var(--color-primary-rgb);
	background: var(--color-current);
	display: grid;
	grid-template-columns: 1fr 2fr;

	width: 100dvw;
	height: 100dvh;

	margin: auto;
	transition: grid-template-columns 0.4s ease-in;
}

.container.isSub {
	--color-current: var(--color-secondary);
	--color-current-rgb: var(--color-secondary-rgb);
}

.container main {
	height: 100%;
}

::view-transition-old(root) {
  animation: fade-out .4s ease-in 1 forwards;
  height: 100%;
}

::view-transition-new(root) {
  animation: fade-in .4s ease-in 1 forwards;
  height: 100%;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@media (orientation: portrait) {
	.container {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 2fr;
	}
}
