.button {
	align-items: center;
	color: white;
	cursor: pointer;
	display: flex;
	padding-inline: .33rem;
}

.button.disabled {
	cursor: default;
	color: rgba(255, 255, 255, 0.33);
}

/* SMALL */
:global(.container.small) {
	.button .label {
		display: none;
	}
}

:global(.container.medium) {
}

:global(.container.large) {
}
