.gridItem {
	align-items: center;
	background: var(--color-white);
	cursor: pointer;
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
	line-height: 1.25rem;
	padding: 1rem;
	transition: all 300ms ease-in;
	width: 100%;
}

.gridItem a {
	padding: 1rem;
}

.key {
	color: var(--color-current);
	font-size: .625rem
}

.value {
	color: var(--color-black);
	font-family: var(--font-sans);
	font-size: .875rem;
	font-weight: bold;
	text-align: center;
}

.gridItem.static {
	cursor: default;
}

.gridItem.more {
	position: relative;
}

.gridItem.more:hover {
	background: var(--color-current);
	transition: all 300ms ease-out;
}

.gridItem.more:hover .key,
.gridItem.more:hover .value {
	color: var(--color-white);
}

/**
* The background of the grid is the primary color. We can use color-mix
* or a transparent white to create a similar effect.
* background-color: color-mix(in srgb, white, var(--color-primary) 15%);
*/
.gridItem.static:hover {
	background-color: rgba(255, 255, 255, 0.85);
}

.gridItem.static:hover .key,
.gridItem.static:hover .value {
	color: var(--color-black);
}

.gridItem.static {
	padding: 0;
}

.gridItem.static:hover,
.gridItem.static {
	background: var(--color-current);
}

/**
 * Page flip animation effect 
 *
 * See https://codepen.io/Gijsjan/pen/ZYYNOwX for page flip
 */ 

.dog-ear-wrapper,
.dog-ear {
	transition: all 1s ease-in-out;
	transition-timing-function: cubic-bezier(0.2, 0.8, 0.2, 1);
}

/* Dog-ear base */
.dog-ear-wrapper {
	background: rgba(15, 120, 120, 0);
	height: 200%;
	overflow: hidden;
	pointer-events: none;
	position: absolute;
	transform: rotate(-20deg);
	transform-origin: 50% 85%;
	width: 200%;
	z-index: 2;
}

.dog-ear-shadow {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	z-index: 1;
}

.dog-ear {
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.5), 0 0 12px rgba(0, 0, 0, .5);
	top: 0;
	right: 0;
	width: 50%;
	height: 50%;
	position: absolute;
	transform: rotate(-45deg);
	transition: transform 1s ease-in-out;
	transition-timing-function: cubic-bezier(0.2, 0.8, 0.2, 1);
	pointer-events: all;
}

.backside {
	background-color: color-mix(in srgb, white, var(--color-primary) 15%);
}

.gridItem.flip {
	overflow: hidden;
}

.gridItem.flip:hover {
	overflow: visible;
}

.gridItem.flip:hover .dog-ear-wrapper {
	transform: rotate(0) translateX(-75%) translateY(25%);
	z-index: 3;
}

.gridItem.flip:hover .dog-ear {
	transform: rotate(0deg) translateX(0);
}
