.gridItem {
	align-items: center;
	background: var(--color-white);
	cursor: pointer;
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
	line-height: 1.25rem;
	min-height: 0;
	min-width: 0;
	padding: 1rem;
	transition: all 300ms ease-in;
	width: 100%;

	/* border: var(--border-width) solid var(--color-current); */
	/* border-bottom: var(--border-width) solid var(--color-current);
	/* width: 120px; */
	/* box-sizing: border-box; */
}

.gridItem:last-child {
	border-left-width: 0px;
}

.gridItem a {
	padding: 1rem;
}

.key {
	color: var(--color-current);
	font-size: .625rem;
	text-align: center;
}

.value {
	color: var(--color-black);
	font-family: var(--font-sans);
	font-size: .875rem;
	font-weight: bold;
	text-align: center;

	width: 100%;
	text-overflow: ellipsis;
	-webkit-line-clamp: 3;
	line-clamp: 3;
	-webkit-box-orient: vertical;
	box-orient: vertical;
	word-break: break-all;
	display: -webkit-box;
}

.gridItem.static {
	cursor: default;
}

.gridItem.more {
	position: relative;
}

.gridItem.more:hover {
	background: var(--color-current);
	transition: all 300ms ease-out;
}

.gridItem.more:hover .key,
.gridItem.more:hover .value {
	color: var(--color-white);
}

/**
* The background of the grid is the primary color. We can use color-mix
* or a transparent white to create a similar effect.
* background-color: color-mix(in srgb, white, var(--color-primary) 15%);
*/
.gridItem.static:hover {
	background-color: rgba(255, 255, 255, 0.85);
}

.gridItem.static:hover .key,
.gridItem.static:hover .value {
	color: var(--color-black);
}

/**
 * TEMPORARY. TODO.
 * Static tiles are used to showcase the TileTurner. When the tile turns,
 * the background needs to have the color of the app. This means that a 
 * padding doesn't work, because the user would see the background of the
 * tile. To set the padding on the tile, use the turn-front and turn-back
 * divs.
 */
.gridItem.static {
	padding: 0;
}

.gridItem.static:hover,
.gridItem.static {
	background: var(--color-current);
}


@media 
	(orientation: portrait) and (max-height: 360px),
	(orientation: landscape) and (max-width: 360px) {
	.gridItem {
		line-height: .666rem;
		padding: .1rem;
	}
	.key {
		/* font-size: .5rem; */
		font-weight: normal;
	}
	.value {
		font-size: .666rem;
		font-weight: normal;
	}
}