.page {
	box-sizing: border-box;
	padding: 3rem 2.5rem;
	text-align: center;
	color: var(--color-black);
	font-family: var(--font-serif);
	display: grid;
	grid-template-rows: 4rem 1fr;
	height: 100%;
}

.noHeader {
	grid-template-rows: 1fr;
}

.header {
	display: flex;
	justify-content: center;
	align-items: start;
} 

.page h2 {
	font-family: var(--font-serif);
	font-size: 1.25rem;
	font-weight: bold;
	margin: 0;
	align-self: center;
}

.content {
	align-items: start;
	display: flex;
	justify-content: center;
	max-height: 100%;
	min-height: 0;
	overflow: auto;
	padding-right: 1rem;
	margin-right: -1rem;
	text-align: justify;
}

:global(.container.small) .page {
	padding: 1rem;
}

:global(.container.small) .page h2 {
	font-size: 1rem;
}

:global(.container.small) .page p {
	font-size: .875rem;
}