.container {
	--color-primary: var(--color-orange);
	--color-primary-rgb: var(--color-orange-rgb);
	background: var(--color-orange);
	display: grid;
	grid-template-columns: 1fr 2fr;
	max-width: 900px;
	min-height: 444px;
	margin: auto;
	transition: grid-template-columns 0.4s ease-in;
}

.container.isSub {
	--color-primary: var(--color-blue);
	--color-primary-rgb: var(--color-blue-rgb);
	background: var(--color-blue);
}

/* .container.fullpage {
	grid-template-columns: 1fr 6fr;
} */

.container main {
	height: 100%;
	view-transition-name: main;
}

::view-transition-old(main) {
  animation: fade-out .4s ease-in 1 forwards;
  height: 100%;
}

::view-transition-new(main) {
  animation: fade-in .4s ease-in 1 forwards;
  height: 100%;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}