.key {
	color: var(--color-current);
	font-size: .75rem;
	line-height: .75rem;
	text-align: center;
	text-transform: uppercase;
}

:global(.container.small) .key {
	font-size: .5rem;
}

.value {
	color: var(--color-black);
	font-family: var(--font-sans);
	font-size: 1rem;
	line-height: 1rem;
	/* font-weight: bold; */
	text-align: center;

	width: 100%;
	text-overflow: ellipsis;
	-webkit-line-clamp: 3;
	line-clamp: 3;
	-webkit-box-orient: vertical;
	box-orient: vertical;
	word-break: break-word;
	display: -webkit-box;
}

:global(.container.small) .value {
	font-size: .7rem;
	line-height: .7rem;
}
