.key,
.value {
	font-family: var(--font-sans);
	text-align: center;
}

.key {
	color: var(--color-current);
	font-size: 0.75rem;
	line-height: 0.75rem;
	text-transform: uppercase;
}

:global(.container.small) .key {
	font-size: 0.5rem;
}

.value {
	color: var(--color-black);
	font-size: 1rem;
	line-height: 1rem;

	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	box-orient: vertical;
	display: -webkit-box;
	line-clamp: 3;
	text-overflow: ellipsis;
	width: 100%;
	word-break: break-word;
}

:global(.container.small) .value {
	font-size: 0.7rem;
	line-height: 0.7rem;
}
