.container {
	display: grid;
	grid-template-columns: repeat(3, minmax(180px, 240px)) 1fr;
	grid-template-rows: fit-content(0) fit-content(0) fit-content(0) 1fr;
	grid-template-areas: 
		"iriInput iriInput iriSelect preview"
		"sizeSelect orientationSelect colorSelect preview"
		"rowsAndColumns rowsAndColumns rowsAndColumns preview"
		"sourceCode sourceCode sourceCode preview";
	height: 100%;
	gap: 3rem;
	row-gap: 4rem;
}

.iriInput {
	grid-area: iriInput;
}

.iriSelect {
	grid-area: iriSelect;
}

.sourceCode {
	grid-area: sourceCode;
	align-items: end;
}

.preview {
	grid-area: preview;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(var(--color-orange-rgb), .05);
	border: 1px solid rgba(var(--color-orange-rgb), .25);
}

.radioLabel {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	width: 160px;

}
.radioLabel small {
	color: #adb5bd;
	font-size: 1em;
	justify-self: end;
}

.radioLabel :global(.mantine-TextInput-root) {
	padding-left: .5rem;
}

.radioLabel :global(.mantine-TextInput-input) {
	padding-inline: .25rem;
	text-align: end;
}

:global(.mantine-Select-dropdown) {
	box-shadow: 6px 6px 12px rgba(0,0,0,.1);
}

/* .container {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: fit-content(0) fit-content(0) 1fr;
	height: 100%;
	gap: 3rem;
}

.iriInput {
	grid-column: 1 / 4;
}

.iriSelect,
.sourceCode
 {
	grid-column: 4 / -1;
}

.preview {
	grid-column: 1 / -1;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(var(--color-orange-rgb), .05);
	border: 1px solid rgba(var(--color-orange-rgb), .25);
} */