.header {
	padding: 1.5rem;
	display: grid;
	grid-template-rows: fit-content(0) 1fr fit-content(0);
}

.main {
	--border-color: rgba(255, 255, 255, 0.75);
	--border-width: 4px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.h2Container {
	width: 100%;
}

.h2Container h2 {
	border-right: var(--border-width) solid var(--border-color);
	color: var(--color-white);
	font-family: var(--font-sans);
	font-size: 1.5rem;
	font-weight: bold;
	padding: .5rem 0 .75rem 0;
	text-transform: uppercase;
	transform: translateX(-.4rem);
	width: calc(100% + 0.4rem);
}

.h2Top {
	border: var(--border-width) solid var(--border-color);
	border-bottom: 0;
	height: 1rem;
	width: 100%;
}

.h2Bottom {
	display: grid;
	grid-template-columns: 6fr 5fr;
	width: 100%;
	height: 1.5rem;
}

.h2Bottom > div:first-child {
	border-bottom: var(--border-width) solid var(--border-color);
	border-left: var(--border-width) solid var(--border-color);
}

.h2Bottom > div:last-child {
	border-top: var(--border-width) solid var(--border-color);
	border-left: var(--border-width) solid var(--border-color);
}

.top {
	display: flex;
	justify-content: space-between;
	align-items: end;
}

.top nav {
	color: var(--color-white);
	/* display: flex; */
}

.top nav ul {
	display: flex;
	gap: 1rem;
}

.buttonWrapper {
	border-bottom: 2px solid var(--color-white);
	padding: 2px 0;
	transition: all .3s cubic-bezier(0.4, 0, 1, 1);
}

.top nav button {
	align-items: center;
	cursor: pointer;
	display: flex;
	font-family: var(--font-sans);
	font-size: .875rem;
	font-weight: bold;
	gap: .5rem;
}

.top nav button.backButton {
	gap: 0.25rem;
}

.buttonWrapper:hover {
	background-color: var(--color-white);
	color: var(--color-current);
	padding-left: .5rem;
	padding-right: .5rem;
}