.gridItem {
	background: var(--color-white);
	cursor: pointer;
	line-height: 1.25rem;
	transition: all 300ms ease-in;
}

.gridItem {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
	width: 100%;
}

.gridItem a {
	padding: 1rem;
}

.key {
	color: var(--color-primary);
	font-size: .625rem
}

.value {
	color: var(--color-black);
	font-family: var(--font-sans);
	font-size: .875rem;
	font-weight: bold;
	text-align: center;
}

.gridItem.isStatic {
	cursor: default;
}

.gridItem:hover {
	background: var(--color-primary);
	transition: all 300ms ease-out;
}

.gridItem:hover .key,
.gridItem:hover .value {
	color: var(--color-white);
}

/**
* The background of the grid is the primary color. We can use color-mix
* or a transparent white to create a similar effect.
* background-color: color-mix(in srgb, white, var(--color-primary) 15%);
*/
.gridItem.isStatic:hover {
	background-color: rgba(255, 255, 255, 0.85);
}

.gridItem.isStatic:hover .key,
.gridItem.isStatic:hover .value {
	color: var(--color-black);
}
