@import "tailwindcss";

@font-face {
  font-family: 'EuclidTriangle';
  src: url('/fonts/EuclidTriangle-Medium-WebS.woff2') format('woff2');
}

@font-face {
  font-family: 'GoodSans';
  src: url('/fonts/GoodSans-Regular.ttf') format('truetype');
}

:root {
	--font-serif: 'GoodSans', sans-serif;
	--font-sans: 'EuclidTriangle', sans-serif;

	--color-white: rgb(255, 255, 255);
	--color-black: rgb(34, 34, 34);
	--color-orange: rgb(199, 80, 0);
	--color-orange-rgb: 199, 80, 0;
	--color-blue: rgb(5, 53, 255);
	--color-blue-rgb: 5, 53, 255;

	--color-primary: var(--color-orange);
	--color-primary-rgb: var(--color-orange-rgb);
	--color-secondary: var(--color-blue);
	--color-secondary-rgb: var(--color-blue-rgb);
}

.font-euclid {
  font-family: 'EuclidTriangle', sans-serif;
}

.font-goodsans {
  font-family: 'GoodSans', sans-serif;
}

.bg-primary-blue {
	--tw-bg-opacity: 1;
	background-color: rgb(5 53 255 / var(--tw-bg-opacity, 1));
}

.text-primary-blue {
	--tw-text-opacity: 1;
	color: rgb(5 53 255 / var(--tw-text-opacity, 1));
}

.bg-primary-white {
	--tw-bg-opacity: 1;
	background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}

.text-primary-white {
	--tw-text-opacity: 1;
	color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.text-text-primary {
	--tw-text-opacity: 1;
	color: rgb(34 34 34 / var(--tw-text-opacity, 1));
}

.bg-primary-orange {
	--tw-bg-opacity: 1;
	background-color: rgb(199 80 0 / var(--tw-bg-opacity, 1));
}

.text-primary-orange {
	--tw-text-opacity: 1;
	color: rgb(199 80 0 / var(--tw-text-opacity, 1));
}
